@mixin popover-menu {
    --shadow-color: rgb(from var(--accent-color) r g b / 70%);

    color: var(--accent-color);
    background: var(--background-color);
    border: 1px solid var(--border-color, var(--accent-color));
    padding: 10px;
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-items {
        position: static;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        overflow: visible;
        border: none;
        margin: 0;
        padding: 0;
        background: unset;
        list-style: none;

        a {
            color: var(--text-meta, color-mix(in srgb, var(--text-color) 50%, transparent));
            text-decoration: none;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            transition: color 0.3s ease;

            &:hover {
                color: var(--accent-color);
                opacity: 1;
            }
        }

        @media (max-width: 684px) {
            display: none;

            &:popover-open {
                @include popover-menu;

                display: flex;
                column-gap: 10px;
                flex-direction: column;
                margin-top: calc(40px + var(--line-height));
                margin-inline: auto 20px;
                max-width: 33vw;
                width: fit-content;
            }

            &>li>a {
                display: block;
                padding: 5px;
            }
        }
    }

    &-dropdown-button {
        display: none;
        border: 1px solid var(--border-color, var(--accent-color));
        margin-inline-start: 10px;
        padding: 3px 8px;
        height: 100%;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        @media (max-width: 684px) {
            display: flex;
        }

        &:after {
            content: '';
            border: 0.35rem solid transparent;
            border-top-color: var(--accent-color);
            margin-inline-start: 0.5em;
            transform: translateY(0.15em);
        }
    }
}

.skip-to-content {
    @include popover-menu;

    position: fixed;
    top: 40px;
    left: -1vw;
    z-index: 99;
    transform: translateX(-100vw);
    text-align: center;

    @media (max-width: 684px) {
        top: 20px;
    }

    &:focus {
        left: 50%;
        transform: translateX(-50%);
        outline: none;
    }
}
